[defaults]
# Point to your netbox_inv.yml instead of inventory.ini
inventory = netbox_inv.yml
host_key_checking = false
retry_files_enabled = false
interpreter_python = /usr/bin/python3

[inventory]
# This section is REQUIRED for dynamic inventories
enable_plugins = netbox.netbox.nb_inventory, yaml, ini

